/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/



/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */


/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Quicksand', sans-serif; /* Make sure you have added this font in the head of your HTML! */
  color: #100007;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Oswald', sans-serif;
  color: #100007;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
}
p {
  margin-bottom: 1rem;
}

.alpha {font-size: 5.0rem; line-height:1;}
.beta

/* Padding & Margin */

.chunk{
  padding:10% 5vw;
}

/* Other universal styles */

blockquote{}

footer{
  text-align:center;
}

/* Class indicators */

.title

.post

.chunk

.content-first

.content

.overlap

.media-tall

.media-wide

.right

.left

#more{
  text-align:center;
  padding:40% 3%;
}

.signup

/* ----- HEADER & FOOTER --------------------------- */

header{
  position:absolute;
  background-color:#F06292;
}
nav a {
    text-decoration: none;
    padding: 1em;
    color: inherit;

}
nav a:hover {
  color: #1abc9c; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed {
  position: fixed;
  width:100%;
  left:10vh;
}

/* ----- MODULAR ELEMENTS --------------------------- */

/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8em;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: auto;
  display: block;
  background-color: #1abc9c; /* featured color */
}

form [class*=col-] {
  padding: 1%;
}

/* ------------ BACKGROUND IMAGES --------------- */


/*------- Media Queries ------------------------*/

  /* --- General Responsive Helpers ----*/

  .mob-hide {
      display: none!important;
  }
  .mob-show {
    display: block;
  }

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }

/*  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  /*body,
  .left,
  .right {
    text-align: center;
  } */
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  /*.col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }
*/
}/* End media query */
